@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

img {
    object-fit: contain;
}

/* HEADER */
header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    color: rgb(246, 246, 241);
}
.header-con-color { 
    background-color: rgb(34, 31, 31); 
}
.header-transparente { 
    background-color: transparent;
}
.logo {
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 20px;
}

.logo i {
    font-size: 28px;
    color: orange;
}

.logo h1 {
    color: rgb(246, 246, 241);
}
.logo h1:hover {
    color: rgb(215, 215, 209);
}
header nav {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}
header .links {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 5px;
}
header .links:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: rgb(246, 246, 241);
    font-size: 1.3em;
}
a:hover {
    color: rgb(215, 215, 209);
}

@media screen and (max-width: 880px) {
    a.link-name {
        display: none;
    }
    header nav {
        gap: 30px;
    }
}
@media screen and (max-width: 600px) {
    header {
        justify-content: center;
    }

    header .logo {
        margin-left: 0;
    }

    .logo i {
        font-size: 5vw;
    }

    .logo h1 {
        font-size: 5vw;
    }

    header .links {
        display: none;
    }
}

/* CONTENT */
/* PORTADA */
.portada {
    height: 100vh;
    position: relative;
    background-color: #af9272;
}

.portada img {
    object-fit: cover;
    height: 100%;
    width: -webkit-fill-available;
}

.portada-title {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 4.6vw;
    text-shadow: 0 0 15px black;
    z-index: 1;
    top: 30%;
    left: -35%;
    animation-name: titulo;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes titulo {
    0% {
        left: -30%;
        color: rgba(0, 0, 0, 0.455);
    }

    100% {
        left: 10%;
    }
}

/* SERVICIOS */
.servicios {
    position: static;
    height: 80vh;
}

.servicios-container {
    height: 80vh;
    position: relative;
}

.servicios-portada {
    height: 100%;
}

.servicios-portada img {
    object-fit: cover;
    height: 100%;
    width: -webkit-fill-available;
}

.servicios-head {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 3em;
    text-shadow: -3px 5px 5px black
}

.servicios-content {
    width: 80%;
    height: 48%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.servicios-item {
    width: 28%;
    height: 80%;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1E1E1E66;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    text-align: center;
}

.titulo-seccion {
    font-size: 2em;
    padding: 0 15px;
    text-align: center;
}
.servicios-item h3 {
    color: #eee;
    font-size: 1.8vw;
    border-bottom: solid 1px #eee;
}

.servicios-descriptcion {
    display: flex;
}

.servicios-item p {
    color: white;
    font-size: 0.8em;
}

/* recomendaciones */
.recomendaciones {
    height: 90vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.recomendaciones-titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendaciones-content {
    /* width: 80%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around; */
    width: 80%;
    height: 70%;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 80%;
}

.recomendacion {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: .6s;
}

.recomendacion:hover {
    transform: scale(1.1);
}

.recomendacion-imagen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px 1px #2f35428d;
}

.recomendacion-imagen img {
    width: 100%;
    object-fit: contain;
}

.recomendacion-descripcion {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.recomendacion-descripcion h3 {
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendacion-descripcion p {
    height: 70%;
    text-align: center;
}

/* VIAJES */
.viajes {
    height: 90vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.viajes-titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viajes-content {
    width: 80%;
    height: 70%;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 80%;
}

.viaje {
    width: 18vw;
    height: 85%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition-duration: .3s;
}

.viaje:hover {
    transform: scale(1.1);
}

.viaje-imagen {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px 1px #2f35428d;
}

.viaje-imagen img {
    width: 100%;
    object-fit: contain;
}

.viaje-head {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.viaje-head div {
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.viaje-head p {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.viaje-descripcion {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.viajes h3 {
    height: 30px;
}

.viajes p {
    text-align: center;
}

@media screen and (max-width: 800px) {

    .portada-title {
        font-size: 6.4vw;
    }
    .servicios-content {
        width: 100%;
    }

    .servicios-item h3 {
        font-size: 2.5vw;
    }

    .servicios-item p {
        font-size: 1.8vw;
    }

    .viajes-content p {
        display: none;
    }

    .viaje {
        height: 70%;
    }

    .viaje-head {
        height: 50%;
    }
}


/* PROMOTORES */
.promotores {
    margin-top: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promotores-content {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.promotor {
    width: 28%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.promotor-imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.654);
    transition-duration: .3s;
}
.promotor-descripcion{
    text-align: center;
}
.promotor-imagen:hover {
    transform: scale(1.1);
}

.info-button {
    width: 100px;
    transition-duration: .6s;

}

button {
    cursor: pointer;
}

.info-button:hover {
    transform: scale(1.1);
}

.promotor-imagen img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;

}

/* FORMULARIO */
.formulario {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.formulario-content, .formulario-content-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.formulario-info {  
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform:translate(0);
    opacity: 1;
    animation-name: esconder;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
#info{
    position: relative;
}

@keyframes esconder {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-2000px);
        height: 0%;
    }
}

.tarjeta-info{
    position: absolute;
    transform: translateY(35%);
    background-color: #b9b9b9;
    width: 360px;
    height: 240px;
    border-radius: 15px;
    padding: 0 20px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: mostrar;
    animation-duration: 2.1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.card{
    background-color: #b9b9b9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 15px;
}

button.enviar {
    width: 30%;
}

button.contactarme {
    width: 100%;
}
@keyframes mostrar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
.tarjeta-info-hide{
    position: absolute;
    transform: translateY(35%);
    background-color: #b9b9b9;
    width: 360px;
    height: 240px;
    border-radius: 15px;
    padding: 0 20px;
    opacity: 1;
    animation-name: fadeout;
    animation-duration: 2.1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.consulta-exitosa{
    font-size: 80px;
}
@media screen and (max-width:800px) {

    .recomendaciones-content,
    .promotores-content,
    .viajes-content,
    .formulario-content,
    .formulario-content-info {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }
}

.data-user-uno {
    width: 80%;
    display: flex;
    gap: 10px;
}

.data-user-dos {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.data-user-uno-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    border: none;
    border-bottom: 1px solid black;
}
input:focus, select:focus{
    outline-color: #ffa500;
}

.enviar-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    height: 30px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.654);

}

.red-warning {
    color: red;
}

.bi-dash-circle-fill {
    color: red;
}

.green-check {
    color: green;
}

.bi-check-circle-fill {
    color: green;
}

/* API */
#map {
    width: 300px;
    height: 60vh;
}

/* FOOTER */
footer {
    font-size: 1.4em;
    height: 60vh;
    background-color: rgb(34, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 35px rgb(0, 0, 0);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9em;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-copyright p,
.footer-nav .links a,
.footer-nav .logo h1 {
    color: white;
}

.name h1 {
    font-size: 1.7em;
}

.footer-nav a {
    font-size: 1em;
}

.footer-copyright p {
    font-size: 0.6em;
}

.icons-red-social {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-red-social .bi {
    font-size: 32px;
    color: aqua;
}

.icons-red-social .bi-github {
    font-size: 32px;
    color: rgb(0, 0, 0);
}

.icons-red-social .bi-instagram {
    font-size: 32px;
    color: #fc0170;
}

.icons-red-social .bi-facebook {
    font-size: 32px;
    color: blue;
}

.icons-red-social .bi-twitter {
    font-size: 32px;
    color: rgb(33, 244, 244);
}

.icons-red-social .bi-youtube {
    font-size: 32px;
    color: rgb(255, 0, 0);
}

@media screen and (max-width: 600px) {
    .portada-title {
        font-size: 7.3vw;
    }
    .titulo-seccion {
        font-size: 1.5em;
    }
    .viajes-content,
    .recomendaciones-content,
    .promotores-content {
        flex-wrap: wrap;
        height: auto;
        gap: 15vw;
        margin-top: 30px;
    }

    .viajes,
    .recomendaciones,
    .promotores {
        height: auto;
    }

    .viaje,
    .recomendacion,
    .promotor {
        width: 45%;
        min-width: 200px;
        gap: 30px;
    }

    .servicios-item {
        justify-content: center;
    }
    .servicios-item p {
        font-size: 2.1vw;
    };

    .footer-nav a {
        font-size: 0.8em;
    }

    .icons-red-social {
        width: 60%;
    }
    .tarjeta-info{
        width: 80%;
    }
    .name h1 {
        font-size: 1.5em;
    }
}


/* PRONOSTICO */
#pronostico {
    width: 100%;
    height: 60vh;
    background-color: rgb(20, 104, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #4a41ef, lightblue);
    overflow: hidden;
}

#forecast {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 20%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .bi {
    font-size: 6vw;
}

.temperatura {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.precipitacion {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.precipitacion .bi {
    font-size: 2vw;
}

.description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}
/* ::-webkit-scrollbar-button {
    background: #4a41ef
} */
::-webkit-scrollbar-track-piece {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #4a41ef;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    #pronostico {
        justify-content: flex-start;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }

    .item {
        width: 20%;
        min-width: 100px;
    }
}